<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GameProto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7ABE94DF1E114CFF00B37597</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7ABE94F71E114D0000B37597</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7ABE95021E114D0000B37597</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
